/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000; /* Black background */
  color: #fff; /* White text */
}

.container {
  width: 80%;
  margin: auto;
}

/* Header and Navbar */
header {
  background: #333;
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-links a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #00bcd4;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #00bcd4;
}

.nav-links a:hover::before {
  width: 100%;
}

/* Home Section */
.home-section {
  text-align: center;
  padding: 100px 0;
}

.profile-container {
  margin: auto;
  width: 200px;
  height: 200px;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* Footer */
/* Style for screens smaller than 768px */
@media (max-width: 768px) {
.container {
    width: 90%; /* Make the container more narrow on smaller screens */
}

.column {
    width: 100%; /* Make columns stack on top of each other */
}
}
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
}